# Virtual environment
venv/

# Hugging Face model cache and training outputs
models/
.pretrained_models/
pretrained_models/
.locks/
wav2vec2_checkpoints/
models--facebook--*/

# Audio/video test files
*.mp4
*.wav
*.log

# System + editor files
__pycache__/
.DS_Store